hpp/idl/*.pyc
.docs/build
_unittests/build/
_unittests/install/
build*/
install*/
.DS_Store
.ruff_cache/
*.conda
.coverage
htmlcov/
build*/
install*/
.pytest_cache/
.cache/
.pixi/
__pycache__/
Xcode*
*.pyc
*~
*.egg-info
compile_commands.json
cmake-profiling.json
